html,
body{
    width: 1200px;
    margin: 0 auto;
    font-family:'Nunito', sans-serif;
    font-weight: 300;
    font-size: 22px;
    background-image: url('/images/home-shape.png');
}
.container{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Section Top-info */

#top-info{
    padding: 10px 0px ;
    

}

.top-info-menu li{
    display: flex;
    padding: 15px 15px;
    font-size: .9em;
    letter-spacing: 0.5px;  
    
}
 /* Section Queue-inform */

#queue-inform{
    

}
.container{
    display: flex;
    justify-content: space-between;
}
.button-h6{
    width: 300px;
    border-radius: 30px;
    background: #f0e9e9;
}

.button-h6 button{
    border-radius: 30px;
    font-size: 12px;
    background-color: #007bff !important;
    margin-left: 10px ;
}

.button-h6 button, p {
    display: inline-block;
    font-size: 20px;
    font-weight: 300px;
    line-height: 26px;
}

.b-blue{
    background-color: #007bff !important;
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    border-radius: 10px !important;
}
.b-white{
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    border-radius: 10px !important;

}
/* Section Personal details */

#Personal-details{
    width: 1200px;
    margin: 0 auto;
    background-color: white;
}

.container-personal{
    display: flex;
    justify-content: space-between;
}