html,
body{
    width: 1200px;
    margin: 0 auto;
    font-family:'Nunito', sans-serif;
    font-weight: 300;
    font-size: 22px;
    background-image: url('/images/home-shape.png');
}
.container{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Section Top-info */

#top-info{
    padding: 10px 0px ;
    

}

.top-info-menu li{
    display: flex;
    padding: 15px 15px;
    font-size: .9em;
    letter-spacing: 0.5px;  
    
}
 /* Section Queue-inform */

#queue-inform{
    

}
.container{
    display: flex;
    justify-content: space-between;
}
.button-h6{
    width: 300px;
    border-radius: 30px;
    background: #f0e9e9;
}

.button-h6 button{
    border-radius: 30px;
    font-size: 12px;
    background-color: #007bff !important;
    margin-left: 10px ;
}

.button-h6 button, p {
    display: inline-block;
    font-size: 20px;
    font-weight: 300px;
    line-height: 26px;
}

.b-blue{
    background-color: #007bff !important;
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    border-radius: 10px !important;
}
.b-white{
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    border-radius: 10px !important;

}
/* Section Personal details */

#Personal-details{
    width: 1200px;
    margin: 0 auto;
    background-color: white;
    
}

.container-personal{
    display: flex;
    justify-content: space-around;
    
}
.personal-inform{
    padding-left: 70px;
}


/* Section Awesome Service details */

#Awesome-Service{
    padding: 70px 0px;
    background-color: #ffffff;
    font-family:"Nunito", sans-serif;
}

.service-container{
    width: 1200px;
    margin: 0 auto;
}
.service-heading{
    text-align: center;
}
.service-heading h1{
    font-size: 1.5em;
    font-weight: 500px;
    margin-bottom: 20px;
}
.service-heading p{
    font-size: .9em;
    padding: 0px 15%;
}

.service-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.service-item{
    height: 300px;
    background-color:rgb(241, 240, 240);
    padding: 30px 45px;
    border-radius: 20px;
    
}
.service-item a{
   color: #007bff !important;
}
.service-item i{
    font-style: normal;
   color:  #007bff !important;
}


/* Work Participation Section  details */

#Work{
    padding: 70px 0px;
    background-color: #ffffff;
    font-family:"Nunito", sans-serif;

}
.work-container{
    width: 1200px;
    margin: 0 auto;
}
.work-main-box{
    display: flex;
    justify-content: space-between;
}

.work-box1{
    padding: 50% 0px;
}
.work-box1 h2{
    text-transform: capitalize!important;
    font-family: "Nunito", sans-serif;
    line-height: 2.5;
    font-weight: 700;
}
.work-box1 button{
    border-radius: 10px !important;
    display: flex;
    background: #007bff;
    
}
.work-box1 a{
    color: white;
    font-weight: 600;
}


.work-box2{
    
}

.ux{
    color: #161c2d;
    background: #ffffff;
    padding: 15px 20px 15px 150px;
    margin: 0 0 60px;
    border-radius: 100px 0px 0px;
    display: block;
    position: relative;
    border: 1px dashed #ddd;
}
.work-box2 h2,span{
    display: inline-block;
}
.work-box2 span{
    background-color:rgba(0, 123, 254, 0.08);;
    color: #007bff !important;
    padding-left: 70px;
}
.web{
    color: #161c2d;
    background: #ffffff;
    padding: 15px 20px 15px 150px;
    margin: 0 0 60px;
    border-radius: 100px 0px 0px;
    display: block;
    position: relative;
    border: 1px dashed #ddd;

}
.graphic{
    color: #161c2d;
    background: #ffffff;
    padding: 15px 20px 15px 150px;
    margin: 0 0 60px;
    border-radius: 100px 0px 0px;
    display: block;
    position: relative;
    border: 1px dashed #ddd;

}