/* resert size */

body,
ul,
li {
     margin: 0px;
     padding: 0px;

}
.ul{
     list-style: none;
     width: 1200px;
     margin: 0 auto;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container{
      width: 1200px;
      margin: 20px auto;
      
}

.flex{
      display: flex;
}
.justify-content-between{
     justify-content: space-between;
}
 .justify-content-center{
     justify-content: center;
 }

 .justify-content-araund{
     justify-content: space-around;

 }

 .p-x{
     margin: 10px;
 }
 .p-2x{
    margin: 20px;
 }

 .m-x{
     margin: 10px;
 }

 .m-2x{
     margin: 20px;
 }

 ul li a {
     text-decoration: none;
     text-transform: uppercase;
     color: black;

 }

 .ul li:hover{
     border-bottom: 1px solid #333333;

 }
 .nav-brand{
    
 }

 .nav-brand img{
     width: 150px;
 }